@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
blockquote {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
code {
  font-family: Consolas, Courier, "Courier New", 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre, code {
  font-size: .95em;
}
